# Ignore personal vscode setting files
.vscode/*
# Ignore weight files because they are too large
*.pt
# Ignore gradio generated flag files
flagged/*
# Ignore runs from training / detecting
runs/*
ultralytics/*
# Ignore wandb files
wandb/*

# Other ignores
**/__pycache__/
Images/*